.btn{
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.btn-red{
    background-color: var(--red);
    
}
.btn-blue{
    background-color: var(--light-blue);
}

.small-btn{
    height: 30px;
    width: 70px;
}

.big-btn{
    height: 50px;
    width: 280px;
}