:root {
  --primary-background: #1f2025;
  --secondary-background: #222328;
  --light-blue: #2e9cfd;
  --purple: #6543b4;
  --red: #fe5260;
  --very-light-blue: #aed2ee;
  --very-light-purple: #d1bfdc;
  --main-white: #d9d6d6;
}

body {
  font-family: 'Georama', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  background: var(--primary-background);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
  
}

.nav {
  width: 60px;
  height: 100vh;
  border-right: 1px solid #2c2b2b;
}

.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}

.left-part {
  width: 100%;
  height: 100%;
}

.right-part {
  width: 400px;
  flex-shrink: 0;
}

.navbar {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
}

.top-options {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 20px;
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  position: relative;
}

.icon:hover {
  color: var(--light-blue);
  cursor: pointer;
}

.icon:hover::after {
  content: '';
  display: block;
  width: 4px;
  background: var(--light-blue);
  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 3px;
}

.bottom-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

/* mid part */

.search-bar {
  /* height: 100%; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color:pink; */
}

.left-search-section {
  width: 100%;
  margin-left: 30px;
}

.page-title {
  font-size: 1.5rem;
}

.date-container {
  height: 30px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* word-wrap: no-wrap; */
}

.day {
  font-size: 1rem;
}

.date {
  font-size: 1rem;
  color: var(--light-blue);
}

.right-search-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.user {
  width: 60%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  margin: 10px 0 10px 0;
}

.notification-icon {
  position: relative;
  margin-right: 5px;
}

.notification-status {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background: var(--light-blue);
  position: absolute;
  left: 11px;
  top: -4px;
}

.user h4 {
  font-size: 12px;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: grey;
  margin: 0 10px 0 10px;
}

.more-options-icon {
  margin-right: 20px;
}

.search {
  margin-right: 10px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.search-logo {
  font-size: 1rem;
  margin: 0 10px 0 10px;
}

.search-input {
  height: 1.3rem;
  width: 200px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  color: var(--main-white);
  padding: 2px 5px 2px 5px;
}


/* media queries */

@media screen and (max-width: 576px){
  .App{
    min-width: 100vw;
  }
  .search-bar{
    display: flex;
    align-items: baseline;
    white-space: nowrap;
  }
  .dashboard-content{
    flex-direction: column;
  }
  .nav{
    width: 10vw;
    height: 100%;
  }
}

